<h2>Lista de Medicinas</h2>
<!-- <div>
    <div class="card-header">
        <h2>Lista de Medicinas</h2>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Dosis</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Contenido</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Dosis diaria</th>
                    <th class="text-center">Mostrar Personas</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Eliminar</th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of medicinas">
                    <td class="text-center">{{m.nombre}}</td>
                    <td class="text-center">{{m.cantidad}}</td>
                    <td class="text-center">{{m.dosis}}</td>
                    <td class="text-center">{{m.precio}}</td>
                    <td class="text-center">{{m.contenido}}</td>
                    <td class="text-center">{{m.stock}}</td>
                    <td class="text-center">{{m.dosisDiaria}}</td>

                    <td class="text-center">
                        <button type="button" class="btn btn-primary">Personas</button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-warning">Editar</button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 -->